/* -------------------------------------------
1. Color settings
------------------------------------------- */
/* Specific theme colors */
$primary-green: #228461;
$secondary-dark: #333e3d;

/* General colors */
$white: #fff;
$black: #000;
$gray: #c6c6c6;

/* Form colors */
$valid: #28a745;
$invalid: #dc3545;

/* -------------------------------------------
2. Layout settings
------------------------------------------- */
/* Content Layout */
$content-padding: 1em;
$content-max-width: 80rem;

/* Box Layout */
$box-padding: 1em;

/* ----------------------
3. Fonts
------------------------- */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: norm;
  src: url('/fonts/dejavu-bold.woff2') format('woff2'), url('/fonts/dejavu-bold.woff') format('woff');
}