/* -------------------------------------------
1. Color settings
------------------------------------------- */
/* Specific theme colors */
$primary-green: #228461;
$secondary-dark: #333e3d;

/* General colors */
$white: #fff;
$black: #000;
$gray: #c6c6c6;

/* Form colors */
$valid: #28a745;
$invalid: #dc3545;

/* -------------------------------------------
2. Layout settings
------------------------------------------- */
/* Content Layout */
$content-padding: 1em;
$content-max-width: 80rem;

/* Box Layout */
$box-padding: 1em;