# node.js application specific
node_modules
config/*.json

# docker & environment
.env
deployment/deployment.sh
deployment/deployment.md

# minifed js file
public/assets/js/*.js

# helper files
/projekte

# ide specific
.vscode