{
    "port": 80,
    "database": {
        "host": "",
        "port": 21345,
        "user": "",
        "password": "",
        "database": ""
    },
    "mailserver": {
        "host": "",
        "user": "",
        "password": ""
    }
    }
}